<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="aq">

	<test name="FF Test">
		<parameter name="Browser" value="FF" />
		<classes>
			<class name="TestMyAccount.MyAccount_TransferMoney" />
			<class name="TestMyAccount.MyAccount_CheckBalance" />
			<class name="TestMyAccount.FailTEST" />
			<class name="TestMyAccount.SkipATest" />

		</classes>
	</test> <!-- Test -->


</suite> <!-- Suite -->
